.post {
  background: var(--blue-800);
  border-radius: 8px;
  padding: 2.5rem;
}

.post + .post {
  margin-top: 2rem;
}

.content {
  line-height: 1.6;
  color: var(--blue-300);
  margin-top: 1.5rem;
}

.content p {
  margin-top: 1rem;
}

.content a {
  font-weight: bold;
  color: var(--esmerald-400);
  text-decoration: none;
}

.content a:hover {
  color: var(--esmerald-200);
}

.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post > header time {
  font-size: 0.875rem;
  color: var(--blue-400);
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.authorInfo strong {
  display: block;
  color: var(--blue-100);
  line-height: 1.6;
}

.authorInfo span {
  display:block;
  font-size: 0.975rem;
  color: var(--blue-400);
  line-height:1.6;
}

.commentForm {
  width:  100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--blue-600);
}

.commentForm > strong {
  line-height: 1.6;
  color: var(--blue-100);
}

.commentForm textarea{
  width:100%;
  background: var(--blue-900);
  border: 0;
  resize: none;
  height: 6rem;
  padding: 1rem;
  border-radius: 8px;
  color: var(--blue-100);
  line-height: 1.4;
  margin-top: 1rem;
}

.commentForm footer{
  visibility: hidden;
  max-height: 0;
}

.commentForm:focus-within footer{
  visibility: visible;
  max-height: none;
}


.commentForm button[type=submit] {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 0;
  background: var(--esmerald-400);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0,1s;
}

.commentForm button[type=submit]:hover {
  background: var(--blue-400);
}

.commentList {
  margin-top: 2rem;
}


